html{
    width: 100%;
    height: 100%;
    /*background-color: #e50113;*/
    background-image: url('../images/backgrounds/1650812205426.png');
    background-size:contain!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.noPropagation{

}

div.bookmark{
    float: left; width: 64px; height: 64px;padding: 0px; margin: 2.5px;border-radius: 15px;
}
img.bookmark{
    width: 100%; height: 100%;
}
/*img.bookmark:hover{*/
/*    width: 72px; height: 64px;*/
/*}*/
.bookmark:hover{
    /*width: 68px; height: 68px; overflow: visible;*/
    cursor: pointer;
    opacity: 0.2;
    /*width: 72px; height: 72px;*/
}
/*a.bookmark, a.bookmark:hover,  a.bookmark:focus, a.bookmark:active{*/
/*    all: unset;*/
/*    cursor: pointer;*/
/*    opacity: 0.2;*/
/*}*/

input[type="text"].links{
    display: block;
    width:100%;
    background :url(../images/edit.svg) no-repeat, url(../images/link.svg) no-repeat;
    background-size: 25px 25px, 30px 30px;
    background-position: 95% 44%, 2% 44%;
}
input[type="text"].identification{
    display: block;
    width:100%;
    background :url(../images/edit.svg) no-repeat, url(../images/finger-print.svg) no-repeat;
    background-size: 25px 25px, 30px 30px;
    background-position: 95% 44%, 2% 44%;
}

#addBookmarkButton:hover, #addBookmarkButton2:hover, #addBookmarkButton3:hover{
    content:url(../images/plusBlack.svg);
}

/*.bookmark{*/
/*    max-width:100%;*/
/*    max-height:100%;*/
/*}*/
/*div.notransparentV:hover{*/
/*    background-color:rgba(214,218,240, 1)!important;*/
/*}*/
/*h1.notransparentV:hover{*/
/*    opacity: 1 !important;*/
/*}*/
/*div.notransparentTwet:hover{*/
/*    background-color:rgba(255, 255, 255, 1)!important;*/
/*}*/
/*img.notransparentTwet:hover{*/
/*    opacity: 1 !important;*/
/*}*/
/*div.notransparentTwitch:hover{*/
/*    background-color:rgba(255, 255, 255, 1)!important;*/
/*}*/
/*img.notransparentTwitch:hover{*/
/*    opacity: 1 !important;*/
/*}*/
div.gmail:hover {
    background-color: rgba(60, 60, 60, 1) !important;
    border-radius: 10px
}
div.gmail:hover > p{
    white-space: break-spaces;
}
p.gmail:hover {
    white-space: break-spaces;overflow: visible;
}
div.gmail{
    float: left;border: 1px solid white;background-color:rgba(60, 60, 60, 0.5); border-radius: 25px; overflow: hidden; width:100%;
}
p.gmail{
    float: left;color:white;margin: 0; padding: 0;white-space: nowrap;text-overflow: ellipsis;max-width: 47ch; overflow: hidden
}
div.outlook1:hover {
    background-color: rgba(60, 60, 60, 1) !important;
    border-radius: 10px
}
div.outlook1:hover > p{
    white-space: break-spaces;
}
p.outlook1:hover {
    white-space: break-spaces;overflow: visible;
}
div.outlook1{
    float: left;border: 1px solid white;background-color:rgba(60, 60, 60, 0.5); border-radius: 25px; overflow: hidden; width:100%;
}
p.outlook1{
    float: left;color:white;margin: 0; padding: 0;white-space: nowrap;text-overflow: ellipsis;max-width: 47ch; overflow: hidden
}
div.outlook2:hover {
    background-color: rgba(60, 60, 60, 1) !important;
    border-radius: 10px
}
div.outlook2:hover > p{
    white-space: break-spaces;
}
p.outlook2:hover {
    white-space: break-spaces;overflow: visible;
}
div.outlook2{
    float: left;border: 1px solid white;background-color:rgba(60, 60, 60, 0.5); border-radius: 25px; overflow: hidden; width:100%;
}
p.outlook2{
    float: left;color:white;margin: 0; padding: 0;white-space: nowrap;text-overflow: ellipsis;max-width: 47ch; overflow: hidden
}
.tabcontent {
    display: none;
}
/*.emails:hover {*/
/*  background-color:rgba(40, 40, 40, 0.60) !important;*/
/*}*/
/*.emails {*/
/*  overflow: visible;*/
/*}*/
.tabcontentEmail {
    display: none;
}
.emailContainers {
    position: absolute;
    width: 400px;
    height: 100%;
    right: 50px;
    background-color: rgba(60, 60, 60, 0.70);
    color:white;
}

.emailContainerheaders {
    background-color: rgba(60, 60, 60, 0.70);
    color:white;
}